.packageWrapper {
  padding-top: 120px;
}

.package {
  width: 1000px;
  height: 413px;
  margin: 0 auto;
  display: flex;
  position: relative;

  h1 {
    color: white;
    padding: 10px;
    font-size: 60px;
    font-family: "Proxima";
  }

  .packagePrice {
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    padding-right: 35px;
    font-size: 30px;
    font-family: "Proxima";
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}

.packageSub {
  width: 298px;
  height: 347px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
